<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="/libs/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/libs/bootstrap-vue.min.css">
    <link rel='stylesheet' href="/stylesheets/style.css">
</head>
<body>
{% block body %}{% endblock %}
<script src="/libs/vue.min.js"></script>
<script src="/libs/jquery.min.js"></script>
{#<script src="/libs/bootstrap.bundle.min.js"></script>#}
<script src="/libs/bootstrap-vue.min.js"></script>
<script src="/libs/bootstrap-vue-icons.min.js"></script>
<script src="/javascripts/App.js"></script>
</body>
</html>